*{
    margin: 0;
    padding: 0;
}
.menucontainr{
    background-color: rgb(46, 45, 45);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoimg{
    width: 200px;
    padding: 15px 5px;
}
.menu{
    color: #ffffff;
    display: flex;
    list-style: none;
    text-transform: capitalize;
    font-size: large;
}
.menu li{
    margin-right: 30px;
    padding: 10px;
    width: 60px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
}
.menu li:hover{
    background-color: #ffffff;
    color: rgb(46, 45, 45);
    cursor: pointer;
}
/* banner section start  */

.bannercontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/background.png),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerContent{
    color: #ffffff;
}
.bannerContent h1{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 10px 0;
}
.bannerContent p{
    margin-bottom: 20px;
    padding: 10px 0;
}
.bannerContent button{
    padding: 10px 5px;
    width: 120px;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    color: #ffffff;
}
.imgSetup{
    height: 400px;
    width: 400px;
    padding: 20px;
}
/* banner closed  */

/* about us start  */
.about{
    height: 100vh;
}
.abus{
    text-align: center;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
}
.abutSecContainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.abutSecContainer img{
    height: 400px;
    width: 400px;
    padding: 20px;
}
.abutSecContainer h1{
    text-align: left;
    margin-bottom: 30px;
}
.abutSecContainer p{
    font-size: 18px;
    margin-bottom: 20px;
}
.abutSecContainer button{
    padding: 10px 5px;
    width: 120px;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    color: #ffffff;  
}